.boxes{
    height:100px;
    width:100px;
    background-color: salmon;
    border: red 3px solid;
}

.parent{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    /* justify-content: space-around; */
    /* align-items: center; */
    height:50vh;
    gap:30px;   
}

.child{
    align-self:flex-end;
}